<section class="canvas">
	<div class="phone-canvas">
		<%- partial('library/_modules/_status-bar') %>
		<div class="icon-button stream-back"></div>
		<%- partial('library/_modules/_idea-pins') %>
		<div class="overlay"></div>
		<%- partial('library/_modules/_board-picker') %>
		<%- partial('library/_modules/_toast') %>
		<%- partial('library/_modules/_floating-nav') %>
		<div class="scroll-content-wrapper">
			<%- partial('library/_modules/_navigation-bar') %>
			<%- partial('library/_modules/_profile-navigation-bar') %>
			<div class="icon-button back"></div>
			<div class="closeup scroll-area">


				<%- partial('library/_modules/_closeup-card') %>
				<%- partial('library/_modules/_closeup-junk') %>
			</div>
			<div class="profile scroll-area">
				<%- partial("library/_modules/_profile",{mode:"demo"}) %>
			</div>
			<div class="pingrid scroll-area">
				<%- partial('library/_modules/_bubbles') %>
				<%- partial("library/_modules/_grid",{mode:"demo"}) %>
			</div>
		</div>
	</div>
</div>
</div>
</section>