<%
var homefeedData = public.content.homefeed._data.foodPins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>

<% for ( var i=0; i < homefeedData.length; i++ ) { %>
	<div class="main-card-wrapper cu-<%= i+1 %>">
		<img src="/assets/images/<%= homefeedData[i].img %>.png" />
		<div class="cu-pin-title"><%= homefeedData[i].title %></div>
		<div class="cu-pin-description">

			<% if ( homefeedData[i].stars == 1 ) { %>
					<div class="icon-star"></div>
			<% } %>

			<% if ( homefeedData[i].stars == 2 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>

			<% } %>

			<% if ( homefeedData[i].stars == 3 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>

			<% } %>

			<% if ( homefeedData[i].stars == 4 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
			<% } %>

			<% if ( homefeedData[i].stars == 5 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
			<% } %>
			 · <%= homefeedData[i].time %> mins ·
			Serve <%= homefeedData[i].serve %>
		</div>
		<div class="cu-pin-actions-wrap">
			<div class="icon-button share"></div>
			<div class="main-card-button-wrap">
				<div class="button secondary">Visit</div>
				<div class="button primary">Save</div>
			</div>
			<div class="icon-button overflow"></div>
		</div>
	</div>
<% } %>
