  <% var pathPrefix = "";
     for (var i = 0; i < current.path.length-1; i++) {
        pathPrefix += "../";
     };
  %>

<%
var homefeedData;
//
var krizzly7Data = public.content.krizzly7._data.pins;
var marialat530Data = public.content.marialat530._data.pins;
var moominmom3Data = public.content.moominmom3._data.pins;
var shavonData = public.content.shavon._data.pins;
var theniftyshopperData = public.content.theniftyshopper._data.pins;
//
var demoData = public.content.homefeed._data.pins;

if (mode == "krizzly7") {
	homefeedData = krizzly7Data;
}

if (mode == "marialat530") {
	homefeedData = marialat530Data;
}

if (mode == "moominmom3") {
	homefeedData = moominmom3Data;
}

if (mode == "shavon") {
	homefeedData = shavonData;
}

if (mode == "theniftyshopper") {
	homefeedData = theniftyshopperData;
}

if (mode == "demo") {
	homefeedData = demoData;
}
%>

<% for ( var i=0; i < homefeedData.length; i++ ) { %>
	<div class="main-card-wrapper cu-<%= i+1 %>">
		<img src="<%= homefeedData[i].img %>" />
		<div class="cu-pin-title"><%= homefeedData[i].title %></div>
		<div class="cu-pin-description">
			<div class="string">
			<%= homefeedData[i].description %>
				</div>
			</div>
		<div class="cu-pin-actions-wrap">
			<div class="icon-button-star star-<%= i+1 %>" id="star-<%= i+1 %>"></div>
			<div class="main-card-button-wrap">
				<div class="button secondary">Visit</div>
				<div class="button primary">Save</div>
			</div>
			<div class="icon-button overflow"></div>
		</div>
	</div>

<div data-closeup-id = "<%= i+1 %>" class="reaction-card-wrapper cu-<%= i+1 %>">
<div class="note-trigger-wrap kb-trigger">
				<div class="note-to-self-trigger">Add note to self</div>
			</div>
			<div class="cu-title with-note _hidden">Note to self</div>
			<div class="private-note _hidden"><span></span></div>
			<div class="button-sml _hidden">Edit</div>
		</div>


<% } %>
