<%
var homefeedData = public.content.homefeed._data.pins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>

<% for ( var i=0; i < homefeedData.length; i++ ) { %>
	<div class="main-card-wrapper cu-<%= i+1 %>">
		<img src="/assets/images/<%= homefeedData[i].img %>.png" />
		<div class="cu-pin-title"><%= homefeedData[i].title %></div>
		<div class="cu-pin-description">Pin description goes here</div>
		<div class="cu-pin-actions-wrap">
			<div class="icon-button share"></div>
			<div class="main-card-button-wrap">
				<div class="button secondary">Visit</div>
				<div class="button primary">Save</div>
			</div>
			<div class="icon-button overflow"></div>
		</div>
	</div>
	<div data-closeup-id = "<%= i+1 %>" class="reaction-card-wrapper cu-<%= i+1 %>">
		<div class="cu-title">Label it</div>
		<div class="comments-caption">
			Put a label on your Pin so you can find it later. Choose one or create your own.
		</div>

<div data-closeup-id = "<%= i+1 %>" class="usg-tags-wrap">
	<div data-tag="fav" class="usg-tag button-sml">Favorite</div>
	<div data-tag="price" class="usg-tag button-sml">Right price</div>
	<div data-tag="try" class="usg-tag button-sml">To try</div>
	<div data-tag="partner" class="usg-tag button-sml">Show my partner</div>
	<div data-tag="tried" class="usg-tag button-sml">Tried this</div>
	<div data-tag="" class="button-sml new-tag"></div>

</div>
	</div>
<% } %>
