<%
var homefeedData = public.content.homefeed._data.foodPins;
// var homefeedData = public.content.homefeed._data.ugly;
// var homefeedData = public.content.homefeed._data.real;
%>
<div class="masonry-layout ">
	<% for ( var i=0; i < homefeedData.length; i++ ) { %>


		<div
		data-closeup-id="<%= i+1 %>"
		class="item pin-grid

		<% if ( homefeedData[i].thai ) { %>
			thai
		<% } %>
		<% if (homefeedData[i].japanese) { %>
			japanese
		<% } %>
		<% if (homefeedData[i].italian) { %>
			italian
		<% } %>

		">
			<div class="pin-img-wrapper">

				<img src="/assets/images/<%= homefeedData[i].img %>.png" />
			</div>
			<div class="pin-title">
				<%= homefeedData[i].title %>
			</div>
			<div class="time-wrap _hidden">
				<span class="time"><%= homefeedData[i].time %></span> mins
			</div>
			<div class="number-wrap _hidden">
			<% if ( homefeedData[i].stars == 4 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
			<% } %>

			<% if ( homefeedData[i].stars == 5 ) { %>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
					<div class="icon-star"></div>
			<% } %>
				<span class="number _hidden"><%= homefeedData[i].stars %></span>
			</div>
			<div class="serve-wrap _hidden">
				Serve: <span class="serve"><%= homefeedData[i].serve %></span>
			</div>

		</div>

	<% } %>
</div>