<%
var pinnerData = public.content.pinner._data.pinner;
var ideaPinData = public.content.ideapin._data.pins;
var uopData = public.content.homefeed._data.foodPins;
var homefeedData;
var boardsData;


for ( var a=0; a < pinnerData.length; a++ ) {
	if ( current.source == pinnerData[a].username) {
		homefeedData = pinnerData[a].hf;
		boardsData = pinnerData[a].boards;
	}
}
%>



<div class="profile-tabs">
	<div class="tab created"></div>
	<div class="tab saved"></div>
</div>

<section class="boards">

<% for ( var i=0; i < boardsData.length; i++ ) { %>
	<div class="board">
		<div class="board-rep">
			<div class="br-leading" style="background-image: url(<%= boardsData[i].img %>);" ></div>
			<div class="br-trailing">
				<div class="top" style="background-image: url(<%= boardsData[i].imgTwo %>);"></div>
				<div class="bottom" style="background-image: url(<%= boardsData[i].imgThree %>);"></div>
			</div>
		</div>
		<div class="board-meta">
			<div class="board-title">
				<%= boardsData[i].src %>
			</div>
			<div class="board-pin-count">
				<%= boardsData[i].count %> Pins
			</div>
		</div>
	</div>
	<% } %>
</section>

<section class="unorganized-pins">
	<div class="unorganized-pin-toolbar">
		<div class="title">
			Organize later
		</div>
		<div class="button-sml">Organize</div>
	</div>
	<div id="unorganized-pins-wrap" class="unorganized-pins-wrap">
		<% for ( var k=0; k < ideaPinData.length; k++ ) { %>
			<div id="uop-idea-pin-<%= k + 1 %>"class="uop-pin _hidden">
				<img src="assets/videos/<%= ideaPinData[k].poster %>.png" alt="">
			</div>
		<% } %>
		<% for ( var i=0; i < homefeedData.length; i++ ) { %>
			<div id="uop-<%= i + 1 %>"class="uop-pin _hidden">
				<img src="<%= homefeedData[i].img %>" alt="">
			</div>
		<% } %>
			<% for ( var j=0; j < uopData.length; j++ ) { %>
			<div class="uop-pin">
				<img src="<%= uopData[j].img %>" alt="">
			</div>
		<% } %>
	</div>
</section>