<%
var pinnerData = public.content.pinner._data.pinner;
var ideaPinData = public.content.ideapin._data.pins;
var uopData = public.content.homefeed._data.foodPins;
var homefeedData;
var boardsData;


	if ( current.source == pinnerData[0].username) {
		boardsData = pinnerData[0].boards;
		homefeedData = pinnerData[0].hf;
	}

	if ( current.source == pinnerData[1].username) {
		boardsData = pinnerData[1].boards;
		homefeedData = pinnerData[1].hf;
	}

	if ( current.source == pinnerData[2].username) {
		boardsData = pinnerData[2].boards;
		homefeedData = pinnerData[2].hf;
	}

	if ( current.source == pinnerData[3].username) {
		boardsData = pinnerData[3].boards;
		homefeedData = pinnerData[3].hf;
	}

	if ( current.source == pinnerData[4].username) {
		boardsData = pinnerData[4].boards;
		homefeedData = pinnerData[4].hf;
	}

	if ( current.source == pinnerData[5].username) {
		boardsData = pinnerData[5].boards;
		homefeedData = pinnerData[5].hf;
	}

	if ( current.source == pinnerData[6].username) {
		boardsData = pinnerData[6].boards;
		homefeedData = pinnerData[6].hf;
	}

	if ( current.source == pinnerData[7].username) {
		boardsData = pinnerData[7].boards;
		homefeedData = pinnerData[7].hf;
	}

	if ( current.source == pinnerData[8].username) {
		boardsData = pinnerData[8].boards;
		homefeedData = pinnerData[8].hf;
	}

	if ( current.source == pinnerData[9].username) {
		boardsData = pinnerData[9].boards;
		homefeedData = pinnerData[9].hf;
	}
%>



<div class="profile-tabs">
	<div class="tab created"></div>
	<div class="tab saved"></div>
</div>

<section class="boards">

<% for ( var i=0; i < boardsData.length; i++ ) { %>
	<div class="board">
		<div class="board-rep">
			<div class="br-leading">
				<img src="assets/images/boards-cover/<%= boardsData[i].img %>" alt="">

			</div>
			<div class="br-trailing">
				<div class="top">
					<img src="assets/images/boards-cover/<%= boardsData[i].imgTwo %>" alt="">
				</div>
				<div class="bottom">
					<img src="assets/images/boards-cover/<%= boardsData[i].imgThree %>" alt="">

				</div>
			</div>
		</div>
		<div class="board-meta">
			<div class="board-title">
				<%= boardsData[i].src %>
			</div>
			<div class="board-pin-count">
				<%= boardsData[i].count %> Pins
			</div>
		</div>
	</div>
	<% } %>
</section>

<section class="unorganized-pins">
	<div class="unorganized-pin-toolbar">
		<div class="title">
			Organize later
		</div>
		<div class="button-sml">Organize</div>
	</div>
	<div id="unorganized-pins-wrap" class="unorganized-pins-wrap">
		<% for ( var k=0; k < ideaPinData.length; k++ ) { %>
			<div id="uop-idea-pin-<%= k + 1 %>"class="uop-pin _hidden">
				<img src="assets/videos/<%= ideaPinData[k].poster %>.png" alt="">
			</div>
		<% } %>
		<% for ( var i=0; i < homefeedData.length; i++ ) { %>
			<div id="uop-<%= i + 1 %>"class="uop-pin _hidden">
				<img src="<%= homefeedData[i].img %>" alt="">
			</div>
		<% } %>
			<% for ( var j=0; j < uopData.length; j++ ) { %>
			<div class="uop-pin">
				<img src="<%= uopData[j].img %>" alt="">
			</div>
		<% } %>
	</div>
</section>