<%
var dotsData = public.content.dots._data.dots;
%>

<nav>
  <a href="/index" class="close-detail">Index</a>
  <div class="detail-dot-wrapper">


    <% for ( var i=0; i < dotsData.length; i++ ) { %>
    <a class="dot dot-<%= dotsData[i].dot %>" href="/projects/<%= dotsData[i].dot %>">
      <%= i + 1 %>
    </a>

  <% } %>

  </div>
</nav>
<header class="project-header">
  <a class="to-index" href="/index">Index</a>


    <div class="detail-dot-wrapper small">
       <% for ( var i=0; i < dotsData.length; i++ ) { %>
    <a class="dot dot-<%= dotsData[i].dot %>" href="/projects/<%= dotsData[i].dot %>">
      <%= i + 1 %>
        <% } %>
    </a>
  </div>

</header>