<%
	var scheduleData = public.content.bigday._data.scheduleMorning;
	var scheduleClass = "morning";
	var clock = "am";
	if ( mode == "night" ) {
		scheduleClass = "night";
		scheduleData = public.content.bigday._data.scheduleNight;
		clock = "pm";
	};
%>


<div class="outer-row schedule <%= scheduleClass %>">
	<div class="inner-row">
		<p class="eyebrow">
			schedule
		</p>
		<hr>
		<% for ( var i=0; i < scheduleData.length; i++ ) { %>
			<div class="schedule-row">
				<div class="time-wrap">
					<div class="time">
						<%- scheduleData[i].time %>
					</div>
					<div class="clock">
						<%= clock %>
					</div>
				</div>
				<div class="content-wrap">
					<div class="title">
						<%- scheduleData[i].title %>
					</div>
					<div class="caption">
						<%- scheduleData[i].caption %>
					</div>
				</div>
			</div>
		<% } %>
		<% if ( mode == "night" ) { %>
		<p class="eyebrow">
			getting there
		</p>
		<hr>
		<p>
			If you staying at the hotel we recomemnded — the spot is super easy to get to… just go to — or as marked on the google map below.
		</p>
		<img src="/assets/images/evening/getting-there.png" alt="">
			<p class="eyebrow">
				dress code
			</p>
			<hr>
			<p>
				Optional black tie. Dark colors recommended.
			</p>
		<% } %>
		<div class="rsvp-wrap">
			<a href="/rsvp">
				RSVP
			</a>
		</div>
	</div>
</div>

